*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body,#root{
  width: 100%;
  height: 100%;
}

body{
   background-color: #F7FFFC;
   display: flex;
   align-items: center;
   align-content: center;
}

.card {
  padding: 2em;
}
.read-the-docs {
  color: #E4E4EE;
}